<h1><%= link_to @department.name, @department %></h1>

<ul>
    <% @teams.each do |team| %>
        <li><%= link_to team.name, team %> - <%= team.description %></li>
        <ul>
            <% team.developers.each do |developer| %>
                <li><%= link_to developer.name, developer %></li>
            <% end %>
        </ul>
    <% end %>
</ul>

<br />

<%= link_to 'New Team', new_team_path %>
