<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Description:</b>
  <%= @team.description %>
</p>

<p>
  <b>Department:</b>
  <%= link_to @team.department.name, @team.department %>
</p>

<h2>Developers on Team</h2>
<ul>
  <% @team.developers.each do |developer| %>
    <li><%= link_to developer.name, developer %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
