<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Description:</b>
  <%= @application.description %>
</p>

<p>
  <b>Team:</b>
  <%= @application.team_id %>
</p>

<p>
  <b>Status:</b>
  <%= @application.status %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
