<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Description:</b>
  <%= @application.description %>
</p>

<p>
  <b>Team:</b>
  <%= link_to @application.team.name, @application.team %>
</p>

<p>
  <b>Status:</b>
  <%= @application.status %>
</p>

<h2>Technologies</h2>
<ul>
  <% @application.technologies.each do |technology| %>
    <li><%= link_to technology.name, technology %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
