<h1>Departments</h1>


<ul>
    <% @departments.each do |department| %>
        <li>
            <%= link_to department.name, department %> - <%= department.description %>

            <ul>
                <% department.teams.each do |team| %>
                    <li><%= link_to team.name, team %></li>
                    <ul>
                        <% team.developers.each do |developer| %>
                            <li><%= link_to developer.name, developer %></li>
                        <% end %>
                    </ul>
                <% end %>
            </ul>
        </li>
    <% end %>
    
    
</ul>

<br />

<%= link_to 'New Department', new_department_path %>
