<h1><%= @department.name %></h1>

<p>
  <%= @department.description %>
</p>

<h2><%= link_to "Teams", department_teams_path(@department) %></h2>
<ul>
    <% @department.teams.each do |team| %>
        <li><%= link_to team.name, team %> - <%= team.description %></li>
        <ul>
            <% team.developers.each do |developer| %>
                <li><%= link_to developer.name, developer %></li>
            <% end %>
        </ul>
    <% end %>
</ul>

<hr/>


<p class="well">
    <%= link_to 'Edit', edit_department_path(@department) %> |
    <%= link_to 'Destroy', @department, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<%= link_to 'Back', departments_path %>
